{% extends "base.html.twig" %}

{% block body %}

    <div class="starter-template">
        <h1 class="display-1">Petshop - SON</h1>
        <p class="lead">Avançando Symfony 4</p>
    </div>

{% endblock %}
