{% extends 'login_base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form class="form-signin" method="post" action="{{ path('login') }}">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="text" name="_username" id="username" value="{{ last_username }}" class="form-control" placeholder="Informe seu usuário ou e-mail" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="password" class="form-control" placeholder="Infome sua senha" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Mantenha-me conectado
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
    </form>

{% endblock %}
