{% extends 'base.html.twig' %}

{% block title %}Cadastrar Cliente - {% endblock %}

{% block body %}
    <h1>Cadastrar Cliente</h1>
    <hr>
    {% include "clientes/_form.html.twig" %}

{% endblock %}